.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

#root {
  height: 100%;
}

html, body {
  height: 100%;
  margin: 0px;
}

.box{
  border: solid black;
  height: 100px;
  width: 100px;
  text-align: center;
  display: flex;
}

.text {
  margin: auto;
}

.container {
  display: flex;
}

.container.zero {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.container.one {
  flex-direction: column;
  justify-content: space-around;
}

.container.two {
  flex-direction: column  ;
  justify-content: space-around;
}
